@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');

html{
	box-sizing: border-box;
	height: 100%;
	font-size: 62.5%;
	font-family: "Source Sans Pro", sans-serif;
}

*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body{
	min-height: 100%;
	font-size: 1.6rem;
}

ol, ul, li {
	list-style: none;
}

.trending-containers a {
	display: inline-block;
}

/* ====================================== */
#form-container{
	display: grid;
	justify-content: center;
	grid-template-columns: auto 100px;
}


#query{
	width: 60rem;
	height: 4.5rem;
}

#home-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#home-container .trending-main{
	width: 70%;
}

.trending-containers{
	display: inline-block;
	border: 2px solid black;
	width: 100%;
	height: 320px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.item-container{
	display: inline-block;
}